.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.book-list h1 {
    margin-bottom: 20px;
}

.book-list-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 20px; 
    width: 100%; 
}

.book-item {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
    text-align: center; 
    background-color: #fff; 
    transition: transform 0.3s; 
    padding: 20px;
    width: calc(25% - 20px);
    margin: 15px;
}

.book-item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.book-item h2 {
    font-size: 1.2em; 
    margin: 10px 0; 
}

.book-item:hover {
    transform: scale(1.05); 
}
