.row {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .col-md-4 {
    padding: 20px;
  }

 
  
  .navbar-brand h2{
    color: #00458b;
    font-weight: 600;
  }

  .nav-link h6{
      color:#00458b;
  }

