.homepage {
  background-image: url('https://www.sae.org/binaries/content/gallery/cm/content/publications/books/books_mini_hero.png/books_mini_hero.png/cm:miniHeroWeb'); /* Adjust this path based on your image location */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.intro-container{
  margin-top: -130px ;
}
.intro-container p{
color:#00458b;
font-weight:500;
}
.intro-container h1{
  color:#00458b;
}
.explore-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #17a2b8;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.explore-button:hover {
  background-color: #17a2b8;
  /* transition: transform 0.2s;  */
}
